# React Dashboard / Frontend App URL
# Development (default)
NEXT_PUBLIC_APP_URL=http://localhost:5173
# Production example:
# NEXT_PUBLIC_APP_URL=https://app.ormeet.com

# NestJS Backend API URL
# Development (default)
NEXT_PUBLIC_API_URL=http://localhost:8000
# Production:
# NEXT_PUBLIC_API_URL=https://ormeet-backeend.onrender.com
